<div>
  @if (trainings.length === 0) { <p>Aucune formation dans le panier</p>}
  @if (trainings.length > 0){
    <ng-container>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
          @for (t of trainings; track t.id){
            <tr>
              <td>{{t.id}}</td>
              <td>{{t.name}}</td>
              <td>{{t.description}}</td>
              <td>{{t.price}}</td>
              <td><input type="number" name="quantity" style="width:60px" [(ngModel)]="t.quantity"> </td>
              <td> <a class="btn btn-danger" (click)="removeFromCart(t)">Supprimer</a> </td>
            </tr>

          }
        </tbody>
      </table>
    </ng-container>}
  @if (userLoggedIn) {
    <a class="btn btn-primary" routerLink="/completeOrder">Continue</a>
  } @else {
    <a class="btn btn-primary" routerLink="/login">Continue</a>
  }

</div>
