<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="enteredLogin">Login</label>
    <input name="enteredLogin" type="email" class="form-control" id="enteredLogin" aria-describedby="loginHelp" [(ngModel)]="enteredLogin">
    <small id="loginHelp" class="form-text text-muted">Votre identifiant.</small>
  </div>
  <div class="form-group">
    <label for="enteredPassword">Password</label>
    <input name="enteredPassword" type="password" class="form-control" id="enteredPassword" [(ngModel)]="enteredPassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
